{{ test.title }}<br><br>
<form action="" method="POST">
    {% csrf_token %}
    {% if test.questions %}
        {% for q in test.questions.all %}
            {{ q.title }}<br>
            {% if q.answers %}
                {% for a in q.answers.all %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                               value=""
                               id="flexCheckDefault"
                               name="answers">
                        <label class="form-check-label" for="answers">
                            {{ a.title }}
                        </label>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <button type="submit">Result</button>
        </form>

    {% endif %}